<!-- Modal de confidentialité -->
<div class="modal fade" id="privacy-policy" tabindex="-1" aria-labelledby="privacyPolicy" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="privacyPolicy">Politique de confidentialité</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <p>
                    Ce qui suit est simplement un texte de substitution pour cette boîte de dialogue modale. Vous devez simplement allumer la lumière
                    et laisser briller! Viens comme tu es pour moi. Possède simplement la nuit comme le 4 juillet. Infecte-moi de
                    ton amour et remplis-moi de ton poison. Viens simplement comme tu es pour moi. Fin de l'arc-en-ciel cherchant le trésor.
                </p>
                <p>
                    Je ne peux pas dormir, fuyons et ne regardons jamais en arrière, ne regardons jamais en arrière. Je ne peux pas dormir, fuyons
                    et ne regardons jamais en arrière, ne regardons jamais en arrière. Oui, nous faisons pleurer les anges, tombant sur terre
                    d'en haut. Je marche sur l'air (ce soir). Laisse tes mains sur moi dans mes jeans moulants.
                    Piquant comme une abeille, j'ai gagné mes rayures. Je suis passé de zéro à mon propre héros. Encore plus brillant que la
                    lune, lune, lune. Fais-les dire, 'Aah, aah, aah' pendant que tu traverses le ciel-y-y! Pourquoi ne me laisses-tu pas
                    passer?
                </p>
                <p>
                    Boum, boum, boum. Ne m'a jamais fait cligner des yeux une seule fois. Ouais, tu as de la chance si tu es dans son avion.
                    Parlons de notre avenir comme si nous avions une idée. Oh mon Dieu, pas d'exagération. Tu es original, tu ne peux pas être
                    remplacé. La fille est bizarre, elle conduit un jeep à Laguna Beach. Ce n'est pas un gros problème, ce n'est pas un gros problème,
                    ce n'est pas un gros problème. Dans une autre vie, je te ferais rester. Je vais faire battre ton cœur dans mes jeans moulants.
                    Je veux marcher sur ta longueur d'onde et être là quand tu vibreras. Ne m'a jamais fait cligner des yeux une seule fois.
                </p>
                <p>
                    Nous tiendrions toutes nos promesses, nous serions nous contre le monde. Dans une autre vie, je serais ta fille. Nous pouvons
                    danser jusqu'à la mort, toi et moi, serons jeunes pour toujours. Et pour mon 18e anniversaire, nous avons eu des tatouages assortis.
                    Alors ouvre ton cœur et laisse-le commencer. Parce que c'est la muse et l'artiste. Elle mange ton cœur. Comme Jeffrey Dahmer (woo).
                    Fais éclater ton confetti. (C'est ainsi que nous faisons) Je sais qu'une étincelle choquera le monde, ouais ouais. Si tu savais seulement
                    ce que l'avenir réserve.
                </p>
                <p>
                    Sirotant du Rosé, le soleil de Silver Lake, se levant tout paresseux. C'est dans la paume de ta main maintenant bébé. Alors nous avons frappé
                    le boulevard. Alors fais un vœu, je le ferai comme ton anniversaire tous les jours. As-tu déjà eu l'impression d'être déjà profondément
                    enterré six pieds sous terre? Il est temps de sortir les gros ballons. Tu aurais pu être le plus grand. Des tampons de passeport, elle
                    est cosmopolite. Ton baiser est cosmique, chaque mouvement est magique.
                </p>
                <p>
                    Nous vivons la vie. Nous le faisons bien. Ouvre ton cœur. J'essayais de m'en sortir. Son amour est comme une drogue. Elle laisse toujours une
                    traînée de poussière d'étoiles. La fille est bizarre, elle conduit un jeep à Laguna Beach. Bien, frais, féroce, nous l'avons en verrouillage.
                    Toutes mes filles sont vintage Chanel bébé.
                </p>
                <p>
                    Avant de me rencontrer, ça allait, mais les choses étaient un peu lourdes. Lèvres roses pêche, ouais, tout le monde regarde.
                    Ce n'est pas un gros problème. Appelle mon nom. J'aurais pu réécrire ton addiction. Elle a ça, je ne sais pas quoi, tu le sais.
                    Lourd est la tête qui porte la couronne. Parce que, bébé, tu es un feu d'artifice. Comme le tonnerre va secouer la terre.
                </p>
                <p>
                    Possède simplement la nuit comme le 4 juillet ! Je vais la plonger dans le coma. À quoi tu attends, il est temps de le montrer.
                    On ne peut pas te remplacer par un million de bagues. Tu ouvres mes yeux et je suis prêt à partir, conduis-moi vers la lumière.
                    Et te voilà. Je vais la plonger dans un coma. Allez, laisse éclater tes couleurs. Alors couvre tes yeux, j'ai une surprise.
                    Comme je marche seul au rythme d'un battement différent. Des paillettes partout dans la pièce, des flamants roses roses dans la piscine.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Compris</button>
            </div>
        </div>
    </div>
</div>
